/* wwwroot/css/site.css */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');

body {
    font-family: 'Playwrite NZ', sans-serif;
}

.nav-icons {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6; 
    border-radius: 8px; 
    padding: 1rem; 
    margin-bottom: 2rem;
}
.account-icon, .profile-icon, .home-icon {
    width: 80px;
    height: 80px;
}
